<% @articles.each do |article|%>
<h1> <%= link_to article.title, article %> </h1>
<div>
  nro de visitas <%= article.visits_count %>
</div>
<div>
  <%= link_to :"Eliminar", article, method: :delete, class: "red", confirm: "Are you sure?", disable_with: "Processing..."  %>
</div>
<% end %>

  <%=link_to "articles/new" do%>
    <div class="be-red white btn">
      Nuevo
    </div>
  <% end %>
