<h1><%= @article.title %></h1>
<p>
  <%= @article.body %>
</p>



<h2>
  Escrito por <%= @article.user.email %>
</h2>



<div>
  <%=link_to "Editar",  edit_article_path(@article)  %>
</div>

<h3>Comentarios</h3>
