<h1>este era el verdadero</h1>
<p>la vista se creo automaticamente</p>

<h1>Hola mundo</h1>
<p>Esta es mi primer blog hecho en rails</p>
<% [1,2,3,4].each do |number| %>
<p>Números: <%= number*2 %></p>
<% end %>
<% mundo="luis"%>
<%="Hola #{mundo}" %>
