html,
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.btn {
  background-color: inherit;
  border: none;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;
  padding: 1em;
  font-size: 1.2em;
  border-radius: 5px;
  width: 4em;
}

.be-red {
  background-color:#F55353;
}

.red {
  color: #F55353 !important;
}

.white {
  color: white;
}



.large-padding {
  padding: 10px 7px;
}

.no-list {
  text-decoration: none;
  list-style: none;
}

.field {
  margin-top: 1em;
}

.form-control {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0px;
  font-size: 1.2em;
}

.top-space {
  padding-top: 0em;
  margin: 1em;
}
